{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}


    <div class="card text-center">
        <div class="card-header display-5">Contact</div>
        {% for message in app.flashes('success') %}
            <div class="alert alert-secondary fs-2">
                {{ message }}
            </div>
        {% endfor %}
        <div class="card-body">
            {{ form_start(form, {'attr': {'class': 'ms-5 mt-0 mb-5'}}) }}
            <div class="mb-2">
                <label for="{{ form.Name.vars.id }}"></label>
                {{ form_widget(form.Name) }}
            </div>
            <div class="mb-2">
                <label for="{{ form.mail.vars.id }}"></label>
                {{ form_widget(form.mail) }}
            </div>
            <div class="mb-2">
                <label for="{{ form.Compagny_Name.vars.id }}"></label>
                {{ form_widget(form.Compagny_Name) }}
            </div>
            <div class="mb-2">
                <label for="{{ form.body_text.vars.id }}"></label>
                {{ form_widget(form.body_text) }}
            </div>
            {{ form_end(form) }}
            <hr>
        </div>
        <div class="card-footer">
            <div class="body-footer d-flex justify-content-center m-1">
                <p class="text-center m-4 fw-bold">Programmer un appel, via mon lien Calendly : <a href="https://calendly.com/madjoula-toure" target="_blank">https://calendly.com/madjoula-toure</a></p>
            </div>
        </div>
    </div>



{% endblock %}
